<div class="selection">
  <div class="palette">
    <canvas></canvas>
    <input type="color" class="color_picker" />
  </div>

  <div class="colors">
    <div class="color-column">
      <% (0...8).each do |color| %>
        <div
         class="color bg-<%= "base0#{color.to_s(16).upcase}" %>"
         data-color="<%= "base0#{color.to_s(16).upcase}" %>"
         >
        </div>
      <% end %>
    </div>

    <div class="color-column">
      <% (8...16).each do |color| %>
        <div
         class="color bg-<%= "base0#{color.to_s(16).upcase}" %>"
         data-color="<%= "base0#{color.to_s(16).upcase}" %>"
         >
        </div>
      <% end %>
    </div>
  </div>

  <!-- options for language -
    javascript
    ruby
    python
    c++
    java
    haskel
  -->
  <%= render "preview" %>
</div>

<div class="actions">
<!-- options for editor types -
  command line
  sublime text
  vim (neovim?)
  emacs

  # can use the chriskempson/base16 project
  # as a basis for generating different color configuration files
-->
  <button class="download">Download</button>
</div>
