<div class="header">
  <h1>colors.graysonwright.com</h1>

  <span>
    Download colorscheme files for your favorite text-based programs.
  </span>
</div>

<div class="small-screen-warning">
  Your device's screen is too small
  for us to show all of the controls for this app.
  For now, you can view and download the current colorscheme.
  To modify the scheme, please view this site on a larger screen.
</div>

<div class="selection">
  <div class="palette">
    <canvas></canvas>
    <input type="color" class="color_picker" />
  </div>

  <div class="colors">
    <div class="color-column">
      <% (0...8).each do |color| %>
        <div
         class="color bg-<%= "base0#{color.to_s(16).upcase}" %>"
         data-color="<%= "base0#{color.to_s(16).upcase}" %>"
         >
        </div>
      <% end %>
    </div>

    <div class="color-column">
      <% (8...16).each do |color| %>
        <div
         class="color bg-<%= "base0#{color.to_s(16).upcase}" %>"
         data-color="<%= "base0#{color.to_s(16).upcase}" %>"
         >
        </div>
      <% end %>
    </div>
  </div>

  <!-- options for language -
    javascript
    ruby
    python
    c++
    java
    haskel
  -->
  <%= render "preview" %>
</div>

<div class="actions">
<!-- options for which config files to download -
  command line
  sublime text
  vim (neovim?)
  emacs
-->
  <button class="download">Download</button>
</div>
